{% macro render_pagination(request, current_page, items_per_page, total_items, endpoint) %}
{% set extra_pages = 2 %}
{% set total_pages = math.ceil(total_items / items_per_page) %}

<div
  class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
  <span class="flex items-center col-span-3">
    Exibindo {{ ((current_page - 1) * items_per_page) + 1}} - {{(current_page * items_per_page)}}
  </span>
  <span class="col-span-2"></span>
  <!-- Pagination -->
  {% if total_pages > 1 %}
  <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
    <nav aria-label="Table navigation">
      <ul class="inline-flex items-center">
        {% if current_page - 1 > 0 %}
        <li>
          <a class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
            aria-label="Previous" href={{ "%s?=%s" % (request.url_for(endpoint), current_page - 1)}}>
            <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
              <path
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd" fill-rule="evenodd"></path>
            </svg>
          </a>
          {% endif %}
        </li>
        {% for i in range(1, total_pages +1) %}
        {% if (current_page - extra_pages <= i <=current_page + extra_pages) %} <li>
          <a class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple
          {% if i == current_page %} text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 {% endif %}"
            href={{"%spage?=%s" % (request.url_for(endpoint), i)}}>
            {{ i }}
          </a>
          </li>
          {% endif %}
          {% endfor %}
          {% if current_page + 1 < total_pages %} <li>
            <a class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple" href={{ "%s?=%s"
              % (request.url_for(endpoint), current_page + 1) }} aria-label="Next">
              <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                <path
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" fill-rule="evenodd"></path>
              </svg>
            </a>
            </li>
            {% endif %}
      </ul>
    </nav>
  </span>
  {% endif %}
</div>
{% endmacro %}