{% macro render_green_tag(label) %}
<span
    class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
    {{ label }}
</span>
{% endmacro %}

{% macro render_red_tag(label) %}
<span
class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
{{ label}}
</span>
{% endmacro%}

{% macro render_orange_tag(label) %}
<span
class="px-2 py-1 font-semibold leading-tight text-orange-500 bg-orange-300 rounded-full dark:text-orange-100 dark:bg-orange-500">
{{ label}}
</span>
{% endmacro%}

{% macro render_green_label(label) %}
<span
    class="px-2 py-1 font-semibold leading-tight text-green-800 rounded-full dark:text-green-500">
    {{ label }}
</span>
{% endmacro %}

{% macro render_red_label(label) %}
<span
class="px-2 py-1 font-semibold leading-tight text-red-700 rounded-full dark:text-red-500">
{{ label}}
</span>
{% endmacro %}

{% macro render_tag_by_orderenum(order_enum) %}
    {% if order_enum == OrderEnum.COMPLETED %}
    {{ render_green_tag("Concluido")}}
    {% elif order_enum == OrderEnum.PENDING %}
    {{ render_orange_tag("Pendente") }}
    {% elif order_enum == OrderEnum.CANCELED %}
    {{ render_red_tag("Cancelado") }}
    {% endif %}
{% endmacro %}
