{% extends "base.html" %}

{% block desktop_client_menu %}
<span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
{{ super() }}
{% endblock desktop_client_menu %}

{% block mobile_client_menu %}
<span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
{{ super() }}
{% endblock mobile_client_menu %}

{% block content %}
<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <h4 class="mb-4 text-2xl font-semibold text-gray-600 dark:text-gray-300">
        <div class="flex justify-between">
            <label>Cliente</label>
        </div>
    </h4>

    <div class="text">
        <div class="text mt-4">
            <label class="block">
                <span class="text-gray-700 dark:text-gray-400 font-semibold">Cliente</span>
                <span
                    class="rounded-lg border block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                    {{ client.name }}
                </span>
            </label>
        </div>
    </div>
    <div>
        <div class="text mt-4">
            <label class="block">
                <span class="text-gray-700 dark:text-gray-400 font-semibold">Telefone</span>
                <span
                    class="rounded-lg border block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                    {{ client.phone }}
                </span>
            </label>
        </div>
        <div class="text mt-4">
            <label class="block">
                <span class="text-gray-700 dark:text-gray-400 font-semibold">Email</span>
                <span
                    class="rounded-lg border block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                    {{ client.email }}
                </span>
            </label>
        </div>
    </div>
    <table class="w-full border-cool-gray-400 mt-6 whitespace-no-wrap">
        <thead>
            <tr
                class="text-xs font-semibold tracking-wide text-center text-white uppercase border-b dark:border-gray-700 bg-purple-500 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">ID</th>
                <th class="px-4 py-3">Total</th>
                <th class="px-4 py-3">Status</th>
                <th class="px-4 py-3">Data</th>
                <th class="px-4 py-3">Ações</th>
            </tr>
        </thead>
        {% for order in client.orders %}
        <tr class="text-gray-700 dark:text-gray-400 border-t dark:border-gray-700">
            <td class="px-4 py-3 text-center text-xs">
                <span class="px-4 py-3 text-sm">{{ order.id }}</span>
            </td>
            <td class="px-4 py-3 text-center text-xs">
                <span class="px-4 py-3 text-sm">R$ {{ "%0.2f" % order.sell_total }}</span>
            </td>
            <td class="px-4 py-3 text-center text-xs">
                <span class="px-4 py-3 text-sm"> R$ {{ render_tag_by_orderenum(order.status) }}</span>
            </td>
            <td class="px-4 py-3 text-center text-xs">
                <span class="px-4 py-3 text-sm"> R$ {{ order.date.strftime("%d/%m/%Y") }} </span>
            </td>
            <td class="px-4 py-3 text-center text-xs">
                <a href="{{ request.url_for('web:order_detail', order_id=order.id)}}"
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                    aria-label="Edit">
                    <svg class="w-6 h-7" aria-hidden="true" fill="currentColor" viewBox="5 -3 4 20">
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                        <path
                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                    </svg>
                </a>
            </td>
            <td class="px-4 py-3 text-center text-xs">
                <a href="{{ request.url_for('web:update_item_by_id', item_id=detail.item.id)}}"
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                    aria-label="Edit">
                    <svg class="w-6 h-7" aria-hidden="true" fill="currentColor" viewBox="5 -3 4 20">
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                        <path
                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                    </svg>
                </a>
            </td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}