{% extends "base.html" %}

{% from "components/tags.html" import render_green_label, render_red_label %}
{% block desktop_items_menu %}
<span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
{{ super() }}
{% endblock desktop_items_menu %}

{% block mobile_items_menu %}
<span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
{{ super() }}
{% endblock mobile_items_menu %}


{% block content %}
<form method="post">
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
        <h4 class="mb-4 text-2xl font-semibold text-gray-600 dark:text-gray-300">
            <div class="flex justify-between">
                <label>Produto - {{ item.id }}</label>
            </div>
        </h4>
        <div class="mt-4 text">
            <label class="block">
                <span class="text-gray-700 dark:text-gray-400">Nome do produto</span>
                <input value={{ item.name }} name="name"
                    class="rounded-lg border block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                </input>
            </label>
        </div>
        <div class="mt-4 text">
            <label class="block">
                <span class="text-gray-700 dark:text-gray-400">Código do produto</span>
                <input name="code" value={{ item.code }}
                    class="rounded-lg border block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                </input>
            </label>
        </div>
        <div class="mt-4 text">
            <label class="block">
                <span class="text-gray-700 dark:text-gray-400">Estoque disponível</span>
                <input name="amount" type="number" step="1" required-min="0" value={{ item.amount }}
                    class="rounded-lg border block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"></input>
            </label>
        </div>
        <div class="mt-4 text">
            <label class="block">
                <span class="text-gray-700 dark:text-gray-400">Custo</span>
                <input name="cost" type="number" step="0.01" required-min="0" value={{ '%0.2f' % item.cost }}
                    class="rounded-lg border block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                </input>
            </label>
        </div>
        <div class="mt-4 text">
            <label class="block">
                <span class="text-gray-700 dark:text-gray-400">Valor</span>
                <input name="value" type="number" step="0.01" required-min="0" value={{ '%0.2f' % item.value }}
                    class="rounded-lg border block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                </input>
            </label>
        </div>
        <footer
            class="flex flex-col items-center justify-end py-3 mt-6 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex-row">
            <button
                class="w-full px-5 py-3 text-sm font-medium leading-5 text-gray-700 text-white transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray">
                Cancelar
            </button>
            <button type="submit"
                class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                Confirmar
            </button>
        </footer>
    </div>
</form>
{% endblock content %}